@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 12px;
    font-family: 'League Spartan', sans-serif;
}

body {
    min-height: 100dvh;
}

#app {
    position: relative;
}

button {
    border: none;
    background: none;
}